// --------------------------
// Variables
// --------------------------

//$fa-font-path : "../fonts/font-awesome" !default;

$primary: #c0dfd9;
$secondary: #f6f1ed;
$third: #b3c2bf;
$fourth: #3b3a36;

$font-family-text: "Raleway";
$font-family-headline: "Montserrat";

$brand-primary : #CCCCCC;
$text-color: #3b3a36;
$body-bg-color : $secondary;

$grid-gutter-width: 0.625rem;