.persona {
  &__picture{
    max-width: 250px;
    display: block;
    margin: $grid-gutter-width*4 auto;
    &__image {
      border-radius: 100%;
    }
  }
  &__name {
    margin-bottom: $grid-gutter-width;
  }
  &__role{
    font-size: 1.125rem;
    font-family: $font-family-headline;
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width*2;
  }
  &__details {
    text-align: center;
  }
  &__contact {
    &__link {
      display: block;
      margin-bottom: $grid-gutter-width/2;
    }
  }
}