body {
  font-size: 100%;
  font-family: $font-family-text;
  color: $text-color;
  background-color : $body-bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headline;
  font-weight: 500;
}

strong {
  font-weight: 600;
}